.card-body{
    border: 3px solid rgba(7, 41, 236, 0.638);
    border-radius:5px;
    display:inline-block;
    text-align:center ;
    color: #e9d8a6;
    background-color:#086375;
    width: 18rem;
   
}
